<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/7700e0d7d8.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/contact.css" />
    <title>Home - Project 3</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar-wrapper">
        <a class="site-logo" href="/"><i class="fab fa-accusoft"></i></a>
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li>
            <a href="/signin">Sign In<i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="/signup">Sign Up<i class="fas fa-user-plus"></i></a>
          </li>
        </ul>
      </nav>

<main>
   <div class="container1">
    <div id="map">
      <div id="navi"><h1>Come visit us!</h1>
        <p>Isa fjordongatan 32</p></div>

      <div id="card">
        <div style="width: 100%"><iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=en&amp;q=isafjordongatan%2032%2C+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">gps coordinates finder</a></iframe></div>
      </div>
    </div>
<h2>Get In Touch</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, repellendus? Cupiditate accusamus dolorem aliquam minus esse iusto rerum ab blanditiis magni unde explicabo suscipit voluptates, illo, neque, ducimus exercitationem consequatur fuga repellat labore at. </p>
    <div class="wrapper1 animated bounceInLeft">
      <div class="company-info">
        <h3>TeamFour Web Design</h3>
        <ul>
          <li><i class="fa fa-road"></i>  Isafjourdon gatan 32</li>
          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
          <li><i class="fa fa-envelope"></i> test@teamfour.test</li>
        </ul>
        <ul>
          <li><i class="fa fa-road"></i>  Isafjourd gatan 32</li>
          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
          <li><i class="fa fa-envelope"></i> test@teamfour.test</li>
        </ul>
        <ul>
          <li><i class="fa fa-road"></i>  Isafjourd gatan 32</li>
          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
          <li><i class="fa fa-envelope"></i> test@teamfour.test</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        <form action="thanks.html" method="post">
          <p>
            <label>Name</label>
            <input type="text" name="name" required>
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email" required>
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5" required></textarea>
          </p>
          <p class="full">
            <button>Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>

</main>

 <div class="wrapper">
      <div class="footer">
        <div class="social-media">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-pinterest"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="fab fa-youtube"></i>
        </div>
        <a class="site-logo" href="/"><i class="fab fa-accusoft"></i></a>
        <p>&copy;2019. All righs reserved. Made by FWK19S</p>
      </div>
    </div>
  </div>
  <script src="/static/app.js"></script>
</body>
</html>